@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css");
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Encode+Sans&display=swap');
@import url("https://unpkg.com/bulma@0.8.0/css/bulma.min.css");
@import url("./particle.css");
@import url("./helpers.css");

/*
theme colors
color1 - #9327E0; purple
color2 - #FDF7FF; light pink
color3  -#5D54A4;
color4 - #751AB6; blackish
*/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Encode Sans', sans-serif;
    src: url("../font/EncodeSans-Regular.ttf");
}

@font-face {
    font-family: 'Bangers', cursive;
    src: url("../font/Bangers-Regular.ttf");
}
  
/* @font-face {
    font-family: "norwester";
    src: url("../font/norwester.otf");
} */
  
html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Encode Sans', sans-serif !important;
    background-color:#FDF7FF;
    color: #751AB6;
}

#top-section{
    height:100vh;
    position: relative;
    background-image:  url(../img/top-bg.jpg);
    color:#FDF7FF;
}

#welcome-section{
    position: absolute;
    font-weight: 600;
    top: 50%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    /*color:#751AB6;*/
    text-align: left;
}

#welcome-title{
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0.5rem;
    color:#751AB6;
}

#welcome-image{
    max-width: 250px;
}

.font-block{
    font-family: "Bangers" !important;
    font-weight: 400;
}

.font-purple{
    color:#751AB6 !important;
}

#navbar-logo {
    max-height: 2.5rem !important;
}

.navbar{
    background-color:transparent;
    padding: 1rem;
}

.navbar-burger{
    color: #751AB6;
}

.navbar-item{
    font-weight: bold;
    color: #751AB6;
    font-size: 1.1rem;
}

.navbar-item:hover{
    color: #9327E0 !important;
}

.btn {
    color: black !important;
    background-color: #5D54A4 !important ;
    font-size: 0.9rem;
}

@media screen and (max-width: 1023px){
    .navbar-menu {
        background-color: #010A2D;
    }
}

hr {
    border: 0;
    margin: auto;
    width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#about, #articles, #posts, #surveys, #posters{
    padding: 3rem 2rem 4rem 2rem;
}

#about h1, #articles h1, #posts h1, #surveys h1, #posters h1, footer h1{
    letter-spacing: 1px;
}

.title{
    margin: 1em 2em;
    text-align: left;
    color: #751AB6;
}

.about-card {
    min-height: 50%;
    border-radius: 300px;
    padding: 1em;
    margin: 0 0.7em 1em;
    box-shadow: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(186,190,245,1) 0%, rgba(192,192,245,1) 33.1%, rgba(218,203,246,1) 90% );
}

.info{
    text-align: center;
    padding: 0.4em 1em;
}

.card {
    /*min-height: 330px;*/
    border-radius: 15px;
    padding: 2em;
    margin: 0 0.7em 1em;
    box-shadow: none;
}

.img{
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

.about-logo{
    margin: 0;
    height: 100px;
    border-radius: 50%;
}

.article-card{
    background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );
    margin-bottom: 3em;
}

.article-card h5{
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 0.3em;
}

.article-img{
    height: 180px;
    border-radius: 10px;
}

.section{
    overflow: hidden !important;
}

.slider-navigation-previous, .slider-navigation-next{
    color: #FDF7FF;
}

@media screen and (max-width: 768px) {
    .contact-us-card {
        height: auto;
        text-align: center;
        width: auto;
    }

    #contact p.title,
    #contact p.subtitle{
      text-align: center;
    }
    #scoreboard-container{
        display: flex;
        align-items: center;
    }
  }

.contact-img{
    width: 150px;
    border-radius: 50%;
}

/*sponsors section*/
.sponsor-logo2{
    height: 150px;
    width: 150px;
}

.sponsor-icon{
    font-size: 20px;
    margin: 0 10px;
}

.sponsor-card{
    margin: auto !important;
    max-width: 240px;
    color: #FDF7FF;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
}

/*footer */
.footer {
    background-color: #FDF7FF;
    margin-bottom: 0 !important;
    padding-bottom: 1em !important;
    color: #751AB6;
}

.footer-title{
    text-align: center;
}

footer .social-icons {
    font-size: 26px;
    padding: 25px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
}

footer .social-icons {
    color: #9327E0;
}

footer .social-icons:hover {
    color: #6900BB;
}

.justify-text{
  text-align: justify !important;
}
.judges-card{
  height: 450px;
}
.subtitle{
word-break: break-word;
}
#judges .column{
  flex-grow: 0;
}
@media screen and (min-width: 480px) {
    .judges-card{
        height: 410px;
        max-width:220px;
    }
    .judge-img{
        max-height: 150px;
        max-width: 150px;
    }
      .group-col-sl{
        padding-left: 3em !important;
    }
    
    .group-col{
        padding-left: 6em !important;
    }
}
@media screen and (max-width: 479px) {
    #leaderboard-table{
        width: 380px;
    }
    .group-col-sl{
        padding-left: 1em !important;
    }
    .group-col{
        padding-left: 4em !important;
    }
    .scoreboard{
        height: 300px;
    }
}
@media screen and (max-width: 380px) {
    #leaderboard-table{
        width: 280px;
    }
    .group-col-sl{
        padding-left: 1em !important;
    }
    .group-col{
        padding-left: 4em !important;
    }
}