
.nav-link:hover {
    cursor: pointer;
    background-color: #3B5998;
    color: #fff;
}

#about {
    background: url('https://images.unsplash.com/photo-1502481851512-e9e2529bfbf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.meteora-text {
    font-size: 40px;
    color: #3B5998;
}

.meteora-name {
    font-size: 70px;
    color: #3B5998;
}

.area {
    height: 650px;
}

.area-inner {
    height: 100%;
}

.logo-outline {
    box-shadow: 0 0 10px #3B5998;
}

/*---------------------- Home Page --------------------*/
/*---------------------- Nav Bar Styles --------------------*/
