


/*---------------------- About Page Styles --------------------*/
body {
    font-family: 'Roboto', sans-serif;
}

.fa-solid {
    font-size: 25px;

}
.outer-box {
    height: 300px;
}
.inner-box {
    width: 100%;
    height: 100%;
}
.card-img {
    opacity: 0.6;
    font-weight: 900;
}
.card-text {
    font-weight: 600;
}
.inner-box:hover img{
    opacity: 0.1;
}
.inner-box:hover .card-text{
    color: black;
    cursor: pointer;
}

.btn-custom{
    background-color: #3B5998;
    color: #fff;

}


/*---------------------- About Page Styles --------------------*/


/*---------------------- Sponsors Page Styles --------------------*/
.sponsors-area {
    height: 500px;
}

.fa-twitter, .fa-facebook, .fa-earth-americas, .fa-envelopes-bulk {
    color: #3B5998;
    font-size: 25px;
    padding: 0 5px;
}
.item {
    width: 425px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
/*---------------------- Sponsors Page Styles --------------------*/